header{
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    background: #f7f6fb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    gap: 10px;
}